@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@font-face {
  font-family: "Butler";
  src: local("Butler"), url(./fonts/Butler_Regular.otf) format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 500;
  src: local("Butler"), url(./fonts/Butler_Medium.otf) format("opentype");
}
@font-face {
  font-family: "Butler";
  font-weight: 300;
  src: local("Butler"), url(./fonts/Butler_Light.otf) format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 200;
  src: local("Butler"), url(./fonts/Butler_Ultra_Light.otf) format("opentype");
}
@font-face {
  font-family: "Butler";
  font-weight: 600;
  src: local("Butler"), url(./fonts/Butler_Bold.otf) format("opentype");
}
@font-face {
  font-family: "Butler";
  font-weight: 700;
  src: local("Butler"), url(./fonts/Butler_ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 800;
  src: local("Butler"), url(./fonts/Butler_Black.otf) format("opentype");
}

* {
  transition: color 0.5s ease-in;
  transition: background-color 0.2s ease-in-out;
}
body {
  margin: 0;
  font-family: "Neuton", "Butler", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* color: #f0ffff; */
  /* background-color: #003366; */
  background-color: #FBFBFA;
  color: #383b3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
}
